server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/backend_spring
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: xiaoming00009@gmail.com
    password: xmhrunotdhgbfjbb
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

project:
  upload: upload/
base:
  url: http://localhost:8080



#    url: jdbc:postgresql://localhost:5432/backend_spring
#    username: postgres
#    password: root